body { 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5edd0;
}

.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f5edd0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.menu h1 {
    font-size: 8em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#credits {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    font-family: Arial, Helvetica, sans-serif;
}

#player {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.moveToBottom {
    margin-top: 5vh;
}

button {
    margin-top: 10vh;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px grey;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

button:active {
    background-color: lightgray;
}