body { 
    margin: 0; 
}

#player {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}