body { 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5edd0;
}

.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f5edd0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.menu h1 {
    font-size: 8em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#credits {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    font-family: Arial, Helvetica, sans-serif;
}

#rulesInfo {
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 2;
    background-color: #f5edd0;
    border: solid 2px black;
    height: 70%;
    width: 50%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#rulesInfoQuit {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border-radius: 20%;
    padding: 10px;
    margin: 0;
}

#rulesInfoQuit:active {
    background-color: darkred;

}

#rulesInfo h1 {
    font-size: 2em;
    padding: 0px 20px;
}

#rulesInfo div {
    padding: 0px 20px 20px 20px;
}

#rulesInfo div p{
    margin: 0px;
}

#player {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.moveToBottom {
    margin-top: 5vh;
}

button {
    margin-top: 10vh;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px grey;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

button:active {
    background-color: lightgray;
}