body { 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5edd0;
}

#player {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.moveToBottom {
    margin-top: 5vh;
}